@font-face {
  font-family: Gagalin;
  src: url(./asset/font/Gagalin-Regular.otf);
}
@font-face {
  font-family: Shrikhand;
  src: url(./asset/font/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: dmSans;
  src: url(./asset/font/DMSans-Regular.ttf);
}
.Navbar {
  font-family: Gagalin;
  background-color: #665e5a;
}
.perkenalan {
  position: relative;
  background-color: #f1f1f1;
}

.perkenalan::before {
  content: '';
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #ffffff);
  z-index: -1;
  transform: skewY(-5deg);
}

.nav-link {
  color: white;
}

.nama {
  font-family: Shrikhand;
  color: white;
  font-size: 4rem;
}
.job {
  color: #665e5a;
  font-family: Shrikhand;
  font-size: 1.4rem;
}

.btn {
  background-color: #f89f7b;
  border-color: white;
  font-family: Shrikhand;
  color: #ffde59;
}
