@font-face {
  font-family: Gagalin;
  src: url(./asset/font/Gagalin-Regular.otf);
}
@font-face {
  font-family: Shrikhand;
  src: url(./asset/font/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: dmSans;
  src: url(./asset/font/DMSans-Regular.ttf);
}
.navbar {
  font-family: Gagalin;
  background-color: #665e5a;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-link {
  color: white;
}
