@font-face {
  font-family: Gagalin;
  src: url(./asset/font/Gagalin-Regular.otf);
}
@font-face {
  font-family: Shrikhand;
  src: url(./asset/font/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: dmSans;
  src: url(./asset/font/DMSans-Regular.ttf);
}
/* DESKTOP VERSION */
@media (min-width: 992px) {
  .perkenalan {
    background-color: #cf9378;
    background-size: cover;
    height: 768px;
  }
  .navbar-brand {
    font-family: Gagalin;
  }
  .navbar {
    background-color: #cf9378;
  }
  .nav-link {
    color: white;
  }

  .nama {
    font-family: Shrikhand;
    color: white;
    font-size: 4rem;
  }
  .job {
    color: #665e5a;
    font-family: Shrikhand;
    font-size: 1.4rem;
  }

  .btn {
    background-color: #f89f7b;
    border-color: white;
    font-family: Shrikhand;
    color: #ffde59;
  }
}
