@font-face {
  font-family: Gagalin;
  src: url(./asset/font/Gagalin-Regular.otf);
}
@font-face {
  font-family: Shrikhand;
  src: url(./asset/font/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: dmSans;
  src: url(./asset/font/DMSans-Regular.ttf);
}
/* DESKTOP VERSION */
@media (min-width: 992px) {
  /* Navbar */
  .navbar-brand {
    font-family: Gagalin;
  }
  .N {
    background-color: #cf9378;
  }
  .nav-link {
    font-family: Gagalin;
    color: white;
    margin-right: 20px;
  }
}
