@font-face {
  font-family: Gagalin;
  src: url(./asset/font/Gagalin-Regular.otf);
}
@font-face {
  font-family: Shrikhand;
  src: url(./asset/font/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: dmSans;
  src: url(./asset/font/DMSans-Regular.ttf);
}
.Navbar {
  font-family: Gagalin;
  background-color: #665e5a;
}
.perkenalan {
  background-color: #cf9378;
}
.nav-link {
  color: white;
}

.nama {
  font-family: Shrikhand;
  color: white;
  font-size: 4rem;
}
.job {
  color: #665e5a;
  font-family: Shrikhand;
}

.btn {
  background-color: #f89f7b;
  border-color: white;
  font-family: Shrikhand;
  color: #ffde59;
}
