@font-face {
  font-family: Gagalin;
  src: url(./asset/font/Gagalin-Regular.otf);
}
@font-face {
  font-family: Shrikhand;
  src: url(./asset/font/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: dmSans;
  src: url(./asset/font/DMSans-Regular.ttf);
}
/* UMUM */
.N {
  background-color: #cf9378;
  margin-bottom: 0;
}
.navbar-brand {
  font-family: Gagalin;
}
.navbar {
  border: none;
}
.nav-link {
  font-family: Gagalin;
  color: white;
  margin-right: 20px;
}

.jumbotron {
  background-image: url(./asset/img/wave.svg);
  background-size: cover;
  height: 885px;
  margin-top: -5px;
  margin-bottom: 0;
  border: none;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nama {
  font-family: Shrikhand;
  color: white;
  text-align: center;
  margin-top: 150px;
  text-shadow: 2px 2px #fcca87;
}

.job {
  font-family: Shrikhand;
  color: #665e5a;
  text-align: center;
}
.see {
  background-color: #f89f7b;
  border-color: white;
  color: #fcca87;
  font-family: Shrikhand;
}
.see:hover {
  background-color: #665e5a;
  border-color: #fcca87;
}
h2.about {
  font-family: Gagalin;
}
section.who {
  background-color: #fff9f7;
  margin-top: 0%;
}
.about {
  background-color: #fff8f5;
}
.about-kiri {
  height: 885px;
  background-color: #cf9378;
  border-radius: 0 10% 10% 0;
  text-shadow: 2px 2px #fcca87;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* DESKTOP VERSION */
@media (min-width: 992px) {
  /* Navbar */
  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #fcca87;
    width: 50%;
    margin: auto;
  }
  .foto {
    border-radius: 50%;
  }
}
